mixin contactItem(title, span, city, adress, phone1, phone, fax1, fax, mail1, mail)
  +e.inner
    +e.H2.title #{title}
      span #{span}
    +e.P.city #{city}
    +e.P.adress #{adress}
    +e.wrapper
      span Tel:
      +e.A.phone(href= phone1, target="_blank") #{phone}
    +e.wrapper
      span Fax:
      +e.A.phone(href= fax1, target="_blank") #{fax}
    +e.wrapper
      span Email:
      +e.A.mail(href= mail1, target="_blank") #{mail}